{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome to the best Pitches Website</h1>
    <h3>Choose a category below</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Jokes</h5>
                  <p class="card-text">Get your quick jokes here</p>
                  <a href="{{url_for('main.jokes')}}" class="btn btn-primary">View jokes</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Product</h5>
                  <p class="card-text">All the best product pitches in the world.</p>
                  <a href="{{url_for('main.product')}}" class="btn btn-primary">View product pitches</a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Vows</h5>
                  <p class="card-text">Sweep your loved ones off their feet with these cool vows.</p>
                  <a href="{{url_for('main.vows')}}" class="btn btn-primary">View vows</a>
                </div>
              </div>
        </div>
    </div>

</div>
{% endblock %}
    
