{% extends 'base.html' %}

{% block content %}
    <ol>
        <li>
            <p>Grace Roberts</p>
            <h3>Phone</h3>
            <h4>This phone will not only blow your mind but it will change your life. Get all the latest features that 
                will make you work faster and smarter.
            </h4>
        </li>
        <li>
            <p>{{product.name}}</p>
            <h3>{{product.title}}</h3>
            <h4>{{product.joke}}</h4>
        </li>
    </ol>
{% endblock %}